.menu-container {
    padding: 20px;
    background-color: rgb(247, 252, 252);
  }
  
  .dropdown {
    position: relative;
    float: right;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 70px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #989191;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .food-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .food-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 2px solid #3f06ea;
    border-radius: 5px;
    text-align: center;
  }
  
  .food-card img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
  }
  
  .food-card h3 {
    margin-top: 10px;
  }
  
  .food-card p {
    margin: 5px 0;
  }
  
  .food-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .food-card button:hover {
    background-color: #45a049;
  }
  
  .food-card .quantity{
    border: 2px solid black;
    background-color: #3f06ea;
    width: 44.5px;
    height: 40.5px;
    padding: 10px;
    margin: 5px;
    font-size: large;
  }
  